.attendance-form__content {
    margin: 0 auto;
    padding: 400px 500px;
    max-width: 1230px;
}

.attendance-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.leaving-work__button-submit{
    background-color: black;
    color: white;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.breaking-button__submit{
    background-color: black;
    color: white;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}