.attendance-page {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.attendance-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding-left: 200px;
}

.daily {
    padding: 10px;
    border-left: 6px solid #000;
    width: 500px;
}

.date-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
    width: 65%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    text-align: center;
    padding: 10px 30px;
    margin-top:10px;
    overflow: hidden;
    color: #555555;
}

.attendance-table{
    width: 65%;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    text-align: center;
    padding: 10px 30px;
    margin-top: 10px;
    height: 50px;
    border-collapse: collapse;
}

.attendance-table__content{
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    color: #555555;
}

.attendance-table__header {
    font-weight: lighter;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e0e0e0;
}

.attendance-table__date {
    border-width: 1px 0;
    border-style: solid;
    border-color: #e0e0e0;
    font-weight: lighter;
}