.attendance-container {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.attendance-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding-left: 200px;
}

.attendance-title{
    padding-left: 10px;
    border-left: 6px solid #000;
    width: 200px;
}

.attendance-header__title{
    font-size: 26px;
    font-weight: 600;
}

.month-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
    width: 60%;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    width: 70%;
    text-align: center;
    padding: 12px;
}

.month-nav__button{
    font-size: 14px;
    text-decoration: none;
    padding: 4px 8px;
}

.month-nav__button:hover{
    text-decoration: underline;
}

.month-nav__current{
    font-size: 18px;
    font-weight: 600;
}

.attendance-table__container{
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    width: 70%;
    text-align: center;
    margin: 40px auto;
}

.attendance-table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.attendance-table__header {
    font-weight: lighter;
    padding: 8px 12px;
    border-bottom: 2px solid #e0e0e0;
    font-weight: 600;
    color: #555;
}

.attendance-table__date{
    white-space: nowrap;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e0e0e0;
    font-weight: lighter;
    padding: 6px;
    border-bottom: 1px solid #e0e0e0;
    color: #555;
}

.attendance-table__detail-button{
    display: inline-block;
    padding: 6px 14px;
    background-color: #ffffff;
    border-radius: 16px;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
}

attendance-table__detail-button:hover{
    background-color: #007bff;
    color: #ffffff;
}

.attendance-footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.csv-button{
    padding: 8px 20px;
    margin-right: 160px;
    background-color: #000;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    width: 130px;
}

.csv-button:hover{
    background-color: #0056b3;
}
